* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.page-header {
    background-image: url("/Users/mariacristinamotoc/Desktop/ITAcademy/Bootstrap_Project/img/dandelion.jpg");
    background-size: cover;
    background-position: center;
    margin: 0, 0;
    display: flex;
    height: 25em;
    width: 100%;
}

#title {
    color: white;
    font-size: 4rem;
    padding: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-weight: bolder;
}

.navbar {
    margin-left: 0;
    margin-right: 0;
}

.nav-link {
    color: grey;
    font-size: 1.2rem;
}

.navbar-nav>li {
    font-weight: bolder;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn {
    margin: 0, 0;
    size: small;
}

.modal fade {
    margin-top: 1rem;
}

#form2,
#form3 {
    height: auto;
    width: 100%;
}

#menuLateral {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: grey;
    font-weight: bolder;
}

.container .nav-link {
    color: grey;
    margin-right: 0;
}

#main {
    display: block;
    padding-top: 0.8rem;
    padding-bottom: 4rem;
}

.comments {
    margin: 1rem 0;
}

.form_comments textarea {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
    border: 1px solid;
}

.form_comments .btn {
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem;
}

img {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link {
    color: grey;
    font-weight: bolder;
}

footer {
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 2rem;
    margin: 2rem 1rem;
}